.search-button,
.create-button {
    margin: 5px;
    border: 1px solid forestgreen;
}

body { 
    background: #888;
    color: white;
}

.border {
    border: 1px solid white;
}

.gif {
    border: 1px solid white;
}